<header>
	<h1>Brasileirão Série B</h1>
	<img
		src="https://api.api-futebol.com.br/images/competicao/brasileiro-serieb.png"
		alt=""
	/>
</header>

<table class="tabela-times">
	<thead>
		<th>Posição</th>
		<th>Escudo</th>
		<th>Clube</th>
		<th>Pontos</th>
		<th>Nº Jogos</th>
	</thead>
	<tbody class="tabela-times__body" *ngFor="let time of tabela | async">
		<tr>
			<td>{{ time.posicao }}</td>
			<td>
				<img
					class="tabela-times__escudo"
					src="{{ time.time.escudo }}"
					alt="Escudo"
				/>
			</td>
			<td>{{ time.time.nome_popular }}</td>
			<td>{{ time.pontos }}</td>
			<td>{{ time.jogos }}</td>
		</tr>
	</tbody>
</table>
